[Unit]
Description=Boundfox Studios Bot

[Service]
Type=notify
WorkingDirectory=/root/bot/live
ExecStart=/root/bot/live/BoundfoxStudios.Host

Restart=always
RestartSec=5

KillSignal=SIGINT
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://*:80

[Install]
WantedBy=multi-user.target
